
body {
  background-color: #b68a1b;
  background-image: url("../image/Burger4.jpg");
  background-repeat: no-repeat;
  background-size: 113%;

}

img {
  width: 20%;
}

.white_font {
  color:white;
}
.toEatEaten_font{
  color: rgb(236, 33, 6);
}
.red_font {
  color: #a0051f;
  color:white;
}
.red_font_btn{
  color: white;
}
.tiny_text {
  font-size: 11px;
  color: #5da82f;
}

.jumbotron{
  margin-top: 20px;
  background-image: url("../image/burger3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  max-height: 500px;
  color: white;
}

.btn-danger{
  background-color: #a0051f;
  border-style: ridge;
}

.devour-button{
  border-style: ridge;
}

.form-control{
  padding: 2px 0 2px 10px;
  border-radius: 4px;
}

.input-group-btn{
  padding: 2px 0 2px 10px;
  border-radius: 4px;
}

.btn-devour{
  background-color: rgb(5, 128, 60);
  padding: 5px;
}

.btn-cleanup{
  background-color: rgb(65, 65, 211);
  padding: 5px;
}